body{
    background-color: rgb(0, 0, 0);
}



h1{
   color: rgb(226, 198, 37);
   font-size: 60px;
   text-align: center;
}

p{
    color: #ffffff;
    font-size: 20px; 
    text-align: left;
}

#section1-img {
    width: 1600px;
    height: 400px;
    display: block;       /* instead of absolute */
}

.image-container {
    position: relative;   /* allow overlay */
    display: inline-block;
}

.text-overlay {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    background: rgba(0,0,0,0.5); /* optional for readability */
    padding: 10px;
    border-radius: 5px;
}

#coming-soon{
    font-size: 250px;
    text-align: center;
}